{{!--

logout handlebar template

--}}
<main>
    <p>You have been logged out</p>

    <div class="redirect-links">
        <a href="/">Home</a>
        <a href="/?showLogin=true" class="login-link">Login</a>
    </div>
</main>
