{{!--

logout handlebar template

--}}
<main>
    {{#if deletedProfile}}
        <p>Your account has been deleted</p>
        {{else}}
        <p>You have been logged out</p>
    {{/if}}    

    <div class="redirect-links">
        <a href="/">Home</a>
        <a href="/?showLogin=true" class="login-link">Login</a>
    </div>
</main>
