<main>
  <div id="incidents-div" class="content-section">
  <h2 class="section-title">Reviews</h2>
    {{#if reviews}}  
        {{#each reviews}}
          <div>
            <strong>Rating:</strong> {{this.rating}} <br />
            <strong>Comment:</strong> {{this.comment}} <br />
            <strong>Date:</strong> {{this.timestamp}}
          </div>
        {{/each}}
      {{else}}
      <p>No reviews available.</p>
    {{/if}}
  </div>
</main>