{{#extend "main"}}
{{#content "body"}}
  <h2>Reviews</h2>
  <ul>
    {{#each reviews}}
      <li>
        <strong>Rating:</strong> {{this.rating}} <br />
        <strong>Comment:</strong> {{this.comment}} <br />
        <strong>Date:</strong> {{this.timestamp}}
      </li>
    {{/each}}
  </ul>
{{/content}}
{{/extend}}

